<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Azure Deploy</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>       
        <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    </head>

    <body>
       
        <div  id="app">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand">{{ title }}</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                                <li class="btn btn-primary btn-sm" style="margin-right: 5px;" v-if="!loggedOn" v-on:click="authContext.login(); return false">Login</button>
                                <li class="btn btn-primary btn-sm" style="margin-right: 5px;" v-if="loggedOn" v-on:click="authContext.logOut(); return false">Logout</button>
                                <li class="btn btn-primary btn-sm" v-on:click="launch()" v-if="loggedOn">Launch</button>
                        </ul>
                    </div>
            </nav>
            <div class="container" style="margin-top: 10px;" v-if="loggedOn">
                <div class="card" >
                    <div class="card-header">
                        Select script from the list and press Launch
                    </div>

                    <div class="card-body">       
                        <select v-model="selected">
                            <option value="createvm">Create VM</option>
                            <option value="createrg">Create Resource Group</option></optin>
                        </select>
                        <div v-if="selected=='createvm'" class="form-group">
                            <hr>
                            <input class="form-control" v-model="createvm.vmname" placeholder="VM name"><br>
                            <input class="form-control" v-model="createvm.rg" placeholder="Resource group"><br>
                            <input class="form-control" type="password" v-model="createvm.pw" placeholder="Password"></input>
                        </div>    
                        <div v-if="selected=='createrg'" class="form-group">
                                <hr>
                                <input class="form-control" v-model="createrg.rg" placeholder="Resource group name">
                        </div>                        
                    </div>
                </div>

                <div class="card" v-if="response">
                    <div class="card-header">
                        Reponse
                    </div>
                    <div class="card-body" >
                        <textarea style="width: 100%; height: 400px;" readonly>{{ response }}</textarea>
                    </div>
                </div>
            </div>

        </div>
        
        
        <script>
             

            var app = new Vue({
                el: '#app',
                data : {
                    base: "https://geba.azure-api.net",
                    title: "Azure Deployer",
                    selected: "",
                    loggedOn: false,
                    createvm: {
                        vmname: "",
                        rg: "",
                        pw: ""
                    },
                    createrg : {
                        rg: ""
                    },
                    token: "",
                    response: "",
                    authContext: new AuthenticationContext({
                        clientId: "1fc9093e-8a95-44f8-b524-45c5d460b0d8",
                        postLogoutRedirectUri: window.location  
                    })
                },
                created: function() {
                    // if(window.location.href.substr(0,5) !== 'https') {
                    // window.location.href = window.location.href.replace('http', 'https');
                    // }


                    if (this.authContext.isCallback(window.location.hash)) {
                        console.log("In callback function...");
                        this.authContext.handleWindowCallback();
                        var err = this.authContext.getLoginError();
                        if (err) {
                           console.log("Error in window callback handling: " + err);
                        }
                    } else {
                        self = this;
                        var user = this.authContext.getCachedUser();
                        if(user) {
                            this.loggedOn=true;
                            console.log("authenticated: " + user.userName);
                        this.authContext.acquireToken(
                            '1fc9093e-8a95-44f8-b524-45c5d460b0d8', function (error, token) {
                                if (error || !token) { 
                                    console.log("Error getting token: " + error)
                                    return; }
                                self.token = token;
                            });
                        } // if user
                } // else (no callback)
                },
                methods: {
                    getAxiosConfig: function(token) {
                        const config = {
                            headers: { 
                                "authorization": "bearer " + token
                            }

                        }
                        return config
                    },
                    post: function(url) {
                        this.response=""
                        self=this
                        axios.post(url , null, this.getAxiosConfig(this.token))
                                .then(function(result) {
                                    console.log("Got response...")
                                    self.response = result.data;
                                })
                                .catch(function(error) {
                                    alert("Error calling webhook: " + error)
                                })

                    },
                    launch: function() {
                        if(this.selected == "createvm") {
                            // create the vm
                            url= this.base + '/vm/create?rg=' + this.createvm.rg 
                                + '&vmname=' + this.createvm.vmname + '&pw=' + this.createvm.pw;
                            this.post(url);
                        } else if(this.selected == "createrg") {
                            // create the resource group
                           url = this.base + '/rg/create?rg=' + this.createrg.rg;
                           this.post(url);

                        }
                    }
                }
})
        </script>
    </body>
        
</html>